%h2 アカウントロック解除方法の再送
= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email
    %br
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .actions.m-3
    = f.submit "メールを再送する", class: 'btn'
= render "devise/shared/links"
