%h1 寄付金一覧

%p 当システムに登録されている寄付金入金者の一覧です。（年会費の二重払の場合、原則として寄付金扱いになるためこちらに区分されます。）

%p
  入金関連一覧：
  = link_to '入金一覧', statistics_incomes_path
  &emsp;
  = link_to '年会費一覧', statistics_annual_fees_path
  &emsp;
  = link_to '寄付金一覧', statistics_donations_path

- @donations.each_key do |fiscal_year|
  %h2 #{fiscal_year}

  %p #{@counts[fiscal_year][:count].to_fs(:delimited)}件　#{@counts[fiscal_year][:amount].to_fs(:delimited)}円

  - @donations[fiscal_year].each do |key, donations|
    .collapse.collapse-arrow.border.border-base-300.rounded-box.mb-3
      %input{type: 'checkbox', class: 'peer', id: key}
      %label.collapse-title.bg-secondary.text-secondary-content.peer-checked:bg-primary.peer-checked:text-primary-content{for: key} #{key}　#{@counts[key][:count].to_fs(:delimited)}件　#{@counts[key][:amount].to_fs(:delimited)}円
      .collapse-content.bg-secondary
        %table.table.table-zebra.w-auto
          %thead
            %tr.text-center
              %th 入金日
              %th 年次
              %th 氏名
              %th 入金額
              %th 区分
          %tbody
            - donations.each do |donation|
              %tr{id: donation[:attendance_domid]}
                %td #{donation[:payment_date]}
                %td #{donation[:graduate_year]}
                %td
                  = link_to member_path(donation[:member_id], anchor: 'payment') do
                    %ruby
                      %rb #{donation[:family_name]}
                      %rp （
                      %rt #{donation[:family_name_phonetic]}
                      %rp ）
                    %ruby
                      %rb #{donation[:first_name]}
                      %rp （
                      %rt #{donation[:first_name_phonetic]}
                      %rp ）
                %td.text-end #{donation[:amount].to_fs(:delimited)}
                %td.text-end #{donation[:event_name]}
