= render 'layouts/form_errors', model: f.object
= f.hidden_field :payment_only
.mb-4
  支払い区分
  %br
  = f.text_field(:event_name, placeholder: '2022-2025年会費', size: 40)
.mb-4
  締め日
  %br
  = f.date_field(:event_date)
.mb-4
  費用
  %br
  = f.text_field(:fee)
.mb-4
  補足
  %br
  = f.text_area(:note, cols: 60)
.mb-4
= f.submit '送信', class: 'btn btn-primary'
