%h1 支払い一覧

%p
  = link_to '戻る', root_path

  %p
  = link_to '支払い追加', new_payment_path

%table.table.w-auto
  %thead
    %tr.text-center
      %th 支払い区分
      %th 締め日
      %th 費用
      %th 補足
      %th 操作
  %tbody
    - @payments.each do |rec|
      %tr.hover
        %td #{rec.event_name}
        %td #{rec.event_date}
        %td.text-end #{rec.fee.to_fs(:delimited)}
        %td #{rec.note}
        %td
          .flex.flex-wrap.gap-4
            %div
              = link_to '詳細', payment_path(rec), class: 'btn btn-sm btn-info'
            %div
              = link_to '編集', edit_payment_path(rec), class: 'btn btn-sm btn-warning'
            %div
              = button_to '削除', "/payments/#{rec.id}", method: :delete, form: { data: { turbo_confirm: '削除しますか？' } }, class: 'btn btn-sm btn-error'
