%h1 #{@payment.event_name}詳細

%p
  = link_to '戻る', payments_path

%p
  締め日：#{@payment.event_date}
  %br
  費用　：#{@payment.fee.to_fs(:delimited)}

= simple_format @payment.note

%h2 支払い者一覧

%table.table.w-auto
  %thead
    %tr.text-center
      %th 卒年
      %th 氏名（旧姓）
      %th 備考
      %th 支払い
  %tbody
    - @members.each do |rec|
      %tr.hover
        %td #{@years[rec.year_id].graduate_year}
        %td
          = link_to full_name_tooltip(rec), rec
        %td #{@attendances[rec.id].note}
        %td #{@attendances[rec.id].payment_date}
