= form_with(model: @year) do |f|
  = render 'layouts/form_errors', model: f.object
  .mb-2
    回
    = f.text_field(:graduate_year, placeholder: '高xx回卒')
  .mb-2
    西暦（数字だけ入れてください）
    = f.text_field(:anno_domini, placeholder: '20xx')
    年3月卒
  .mb-2
    和暦（年号＋数字だけ入れてください）
    = f.text_field(:japanese_calendar, placeholder: '令和xx')
    年3月卒
  = f.submit '送信', class: 'btn btn-primary'
