%h1 年次一覧

= link_to '年次追加', new_year_path

%table.table.w-auto
  %thead
    %tr.text-center
      %th 回
      %th 西暦
      %th 和暦
      %th 編集・削除
  %tbody
    - @years.each do |y|
      %tr.hover{id: dom_id(y)}
        %td #{y.graduate_year}回卒
        %td #{y.anno_domini}年3月
        %td #{y.japanese_calendar}年3月
        %td
          .flex.flex-row.gap-8
            %div
              = link_to '編集', edit_year_path(y), class: 'btn btn-sm btn-info'
            %div
              = button_to '削除', y, method: :delete, form: { data: { turbo_confirm: '削除しますか？' } }, class: 'btn btn-sm btn-error'

