!!!
%html{data: {theme: 'garden'}}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sendai1TokyoMembership
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    .prose.prose-lg.m-3.max-w-screen-xl
      - if notice
        %p.alert.alert-info #{notice}
      - if alert
        %p.alert.alert-error #{alert}
      - if current_user.present?
        .grid.grid-flow-col.auto-cols-auto.mb-3
          %div
            = link_to 'top', members_path
          %div
            = link_to 'イベント一覧', events_path
          %div.text-right
            = button_to 'Logout', destroy_user_session_path, method: :delete, data: {turbo: false}, class: 'link'
      = yield
