%h1 同窓会　名簿管理

%p
  = link_to 'メンバー追加', new_member_path
  - if @roles[:lead] || @roles[:board] || @roles[:admin]
    &emsp;
    = link_to '年次別統計', statistics_members_path
    &emsp;
    = link_to 'メールアドレス一覧', mails_path
    &emsp;
    = link_to 'Excelダウンロード', exports_members_path
  - if @roles[:board] || @roles[:admin]
    &emsp;
    = link_to '支払い一覧', payments_path
    &emsp;
    = link_to '入金一覧', statistics_incomes_path
    &emsp;
    = link_to '年会費一覧', statistics_annual_fees_path
    &emsp;
    = link_to '寄付金一覧', statistics_donations_path
  - if @roles[:admin]
    &emsp;
    = link_to '年次情報管理', years_path

.flex.flex-row.mb-3
  .mr-4
    = form_with(url: searches_name_path, method: 'get') do
      = text_field_tag(:search, nil, placeholder: '氏名、よみがなの一部')
      = submit_tag('氏名検索', class: 'btn btn-sm btn-primary')
  .mx-4
    = form_with(url: searches_email_path, method: 'get') do |f|
      = text_field_tag(:search, nil, placeholder: 'メールアドレスの一部')
      = submit_tag('メール検索', class: 'btn btn-sm btn-primary')

- @members.each_value do |years|
  .collapse.collapse-arrow.border.border-base-300.rounded-box.mb-3{id: dom_id(years[:year])}
    %input{type: 'checkbox', class: 'peer', id: "#{dom_id(years[:year])}_collapse"}
    %label.collapse-title.bg-secondary.text-secondary-content.peer-checked:bg-primary.peer-checked:text-primary-content{for: "#{dom_id(years[:year])}_collapse"} #{years[:year].graduate_year}（#{years[:year].anno_domini}年／#{years[:year].japanese_calendar}年3月卒）　#{years[:count]}人
    .collapse-content.bg-secondary
      %table.table.w-auto
        %thead
          %tr.text-center
            %th 氏名（旧姓）
            %th よみがな
            %th 連絡方法
            %th 年会費
            %th 詳細
        %tbody
          - years[:members].each do |m|
            %tr.hover{id: dom_id(m)}
              %td #{full_name(m)[0]}
              %td #{full_name(m)[1]}
              %td.text-center{class: communication(m.communication)} #{m.communication}
              %td.text-center{class: payment(@payments[m.id])} #{@payments[m.id]}
              %td
                = link_to '詳細', member_path(m), class: 'btn btn-sm btn-info'
