%h1 メンバー情報詳細

%h2 基本情報

%p
  = link_to '基本情報編集・削除', edit_member_path(@member), class: 'btn btn-warning'

.card.bg-secondary#basicData
  .card-body
    %p
      #{@member.year.graduate_year}回卒（#{@member.year.anno_domini}年／#{@member.year.japanese_calendar}年3月卒）
      %br
      = full_name(@member)[1]
      %br
      %span.text-3xl
        = full_name(@member)[0]
    .flex.flex-wrap.gap-4
      %div
        .badge.badge-ghost 連絡
        #{@member.communication}
      - if @member.quit_reason.present?
        %div
          .badge.badge-ghost 退会理由
          #{@member.quit_reason}
      %div
        .badge.badge-ghost 所属
        #{@member.occupation}
      %div
        .badge.badge-ghost 役職
        #{@member.roles.map{ |r| role_name(r) }.join('、')}

%h2 メールアドレス

%ul.leading-none
  %li メールアドレスはログインIDも兼ねています
  %li パスワードはメールアドレスごとに設定されます

%table.table.w-auto#mailAddress
  %thead
    %tr.text-center
      %th 状態
      %th アドレス
      %th ログイン回数
      %th 最終ログイン
      %th 操作
  %tbody
    - @users.each do |u|
      %tr.hover{id: dom_id(u)}
        %td
          = reachability(u)
        %td #{u.email}
        %td.text-end #{u.sign_in_count}回
        %td
          = sign_in_info(u)
        %td
          .flex.flex-row.gap-8
            %div
              = link_to '編集', edit_member_user_path(@member, u), class: 'btn btn-sm btn-warning'
            %div
              = button_to '削除', member_user_path(@member, u), method: :delete, form: { data: { turbo_confirm: '削除しますか？' } }, class: 'btn btn-sm btn-error'
    %tr
      %td{colspan: 5}
        = link_to 'メールアドレス登録', new_member_user_path(@member)

%h2 住所

%table.table.w-auto#postalAddress
  %thead
    %tr.text-center
      %th 状態
      %th 郵便番号
      %th 住所
      %th 建物名等
      %th 操作
  %tbody
    - @addresses.each do |a|
      %tr.hover{id: dom_id(a)}
        %td
          = reachability(a)
        %td #{a.postal_code}
        %td #{a.address1}
        %td #{a.address2}
        %td
          .flex.flex-row.gap-8
            %div
              = link_to '編集', edit_member_address_path(@member, a), class: 'btn btn-sm btn-warning'
            %div
              = button_to '削除', member_address_path(@member, a), method: :delete, form: { data: { turbo_confirm: '削除しますか？' } }, class: 'btn btn-sm btn-error'
    %tr
      %td{colspan: 5}
        = link_to '住所登録', new_member_address_path(@member)

%h2 会費および寄付履歴

%table.table.w-auto#payment
  %thead
    %tr.text-center
      %th 種別
      %th 締日
      %th 入金日
      %th 金額
      %th 備考
      - if @roles[:board] || @roles[:admin]
        %th 操作
  %tbody
    - @payments.each do |rec|
      - next if @payment_dates[rec.id].blank?
      %tr.hover{id: dom_id(@payment_dates[rec.id])}
        %td #{rec.event_name}
        %td #{rec.event_date}
        %td #{@payment_dates[rec.id].payment_date}
        %td #{@payment_dates[rec.id].amount.to_fs(:delimited)}
        %td #{@payment_dates[rec.id].note}
        - if @roles[:board] || @roles[:admin]
          %td
            .flex.flex-row.gap-8
              %div
                = link_to '編集', edit_payment_history_path(@payment_dates[rec.id]), class: 'btn btn-sm btn-warning'
              %div
                = button_to '削除', payment_history_path(@payment_dates[rec.id]), method: :delete, form: { data: { turbo_confirm: '削除しますか？' } }, class: 'btn btn-sm btn-error'
    - if @roles[:board] || @roles[:admin]
      %tr
        %td{colspan: 6}
          = link_to '履歴登録', new_payment_history_path(member_id: @member.id)

%h2 イベント参加申し込み・履歴

%table.table.w-auto#event
  %thead
    %tr.text-center
      %th イベント
      %th 開催日
      %th 会費
      %th 支払日
      %th 出欠予定
      %th 実績
      %th 備考
      %th 出欠
      - if @roles[:board] || @roles[:admin]
        %th 参加実績
  %tbody
    - @events.each do |rec|
      %tr.hover{id: dom_id(@attendances[rec.id])}
        %td
          = link_to rec.event_name, rec
        %td #{rec.event_date}
        %td #{rec.fee.to_fs(:delimited)}
        %td #{@attendances[rec.id].payment_date}
        %td.text-center#schedule
          = event_presence(@attendances[rec.id].application)
        %td.text-center#presence
          = event_presence(@attendances[rec.id].presence)
        %td #{@attendances[rec.id].note}
        %td.text-center#application
          - if rec.event_date > Date.today
            .flex.flex-wrap.gap-4
              %div
                = form_with(model: @attendances[rec.id], data: { turbo: false }) do |f|
                  = f.hidden_field :application, value: true
                  = f.hidden_field :member_id, value: @member.id
                  = f.hidden_field :event_id, value: rec.id
                  = f.submit '出席', class: 'btn btn-sm btn-primary'
              %div
                = form_with(model: @attendances[rec.id], data: { turbo: false }) do |f|
                  = f.hidden_field :application, value: false
                  = f.hidden_field :member_id, value: @member.id
                  = f.hidden_field :event_id, value: rec.id
                  = f.submit '欠席', class: 'btn btn-sm btn-accent'
              - unless @attendances[rec.id].nil?
                %div
                  = link_to '備考', edit_attendance_path(@attendances[rec.id]), class: 'btn btn-sm btn-info'
          - else
            \-
        - if @roles[:board] || @roles[:admin]
          %td.tex-center#actual
            - if rec.event_date <= Date.today
              = link_to '編集', edit_attendance_path(@attendances[rec.id]), class: 'btn btn-sm btn-info'
